<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<title>Pentagon | Login</title>
	</head>

	<body class="background-color">

		<!-- Navbar  -->
		<nav class="navbar navbar-expand-lg text-color">
			{% for href,nav in navs %}
			<a class="navbar-brand px-2" href="{{ href }}">{{ nav }}</a>
			{% endfor %}
		</nav>

		<!-- Login Form -->
		<div class="container">
			<div class="d-flex justify-content-center my-4 ">
				<div class="card px-4 py-4 secondary-background-color element-border text-color " style="width:50rem;">
					<form action="handle_user_login" method="post">{% csrf_token %}
						<div class="text-center py-2 h1 card-title">
							Login with your Credentials
						</div>
						<div class="form-group border border-secondary">
							<input class="form-control form-control-lg form-input-box" type="text" placeholder="Enter your Username" name="username">
						</div>
						<div class="form-group border border-secondary">
							<input class="form-control form-control-lg form-input-box" type="password" placeholder="Enter your Password" name="password">
						</div>
						<button type="submit" class="form-button">Login</button>
						<div class="text-center">
							New User ? Then <a href="signup">Signup</a>
						</div>
					</form>
				</div>
			</div>
		</div>






		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>

</html>
